.dropDown {
    width: 190px;
    padding: 10px;
 }

 select {
    background-color: #a6e3a1;
    color: white
 }

select option {
    position: relative;
    font-family: Arial;
    background-color: #a6e3a1;
    color: black;
 }
 

